<section class="mt-3">
  <div class="container">
    <div class="row">
      <p class="h3">Old control flow of angular</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et veritatis
        nesciunt nisi excepturi eos eligendi, tempora iste expedita amet eius
        porro quisquam cumque earum veniam incidunt velit unde? Alias,
        blanditiis.
      </p>
    </div>
  </div>
</section>
<section class="mt-3">
  <div class="container">
    <table class="table table-hover text-center table-striped shadow-lg">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Total Marks</th>
          <th>Birth Day</th>
          <th>Feedback</th>
        </tr>
      </thead>
      <tbody>
        <!-- ngFor statement -->
        <tr *ngFor="let student of students">
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.totalmarks }}</td>

          <!-- Switch Statement -->
          <ng-container [ngSwitch]="student.dob?.getDay()">
            <td *ngSwitchCase="0">Sunday</td>
            <td *ngSwitchCase="1">Monday</td>
            <td *ngSwitchCase="2">Tuesday</td>
            <td *ngSwitchCase="3">Wednesday</td>
            <td *ngSwitchCase="4">Thrusday</td>
            <td *ngSwitchCase="5">Friday</td>
            <td *ngSwitchCase="6">Saturday</td>
            <td *ngSwitchDefault>Invalid Day</td>
          </ng-container>
          <!-- ngIf Statement -->
          <ng-container *ngIf="student.totalmarks >= 400; else verygood">
            <td>
              <strong class="text-success">Excelent</strong>
            </td>
          </ng-container>
          <ng-template #verygood>
            <td
              *ngIf="
                student.totalmarks <= 450 && student.totalmarks >= 400;
                else needsimprovement
              "
            >
              <strong class="text-primary">Very Good</strong>
            </td>
          </ng-template>
          <ng-template #needsimprovement>
            <td>
              <strong class="text-warning">Needs to improvement</strong>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<hr />
<hr />

<section class="mt-3">
  <div class="container">
    <div class="row">
      <p class="h3">New control flow - 17 of angular</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et veritatis
        nesciunt nisi excepturi eos eligendi, tempora iste expedita amet eius
        porro quisquam cumque earum veniam incidunt velit unde? Alias,
        blanditiis.
      </p>
    </div>
  </div>
</section>
<section class="mt-3">
  <div class="container">
    <table class="table table-hover text-center table-striped shadow-lg">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Total Marks</th>
          <th>Birth Day</th>
          <th>Feedback</th>
        </tr>
      </thead>
      <tbody>
        <!-- ngFor statement -->
        @for (student of students; track student.id) {
        <tr>
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.totalmarks }}</td>

          <!-- Switch Statement -->
          <!-- <ng-container [ngSwitch]="student.dob?.getDay()">
                    <td *ngSwitchCase="0">Sunday</td>
                    <td *ngSwitchCase="1">Monday</td>
                    <td *ngSwitchCase="2">Tuesday</td>
                    <td *ngSwitchCase="3">Wednesday</td>
                    <td *ngSwitchCase="4">Thrusday</td>
                    <td *ngSwitchCase="5">Friday</td>
                    <td *ngSwitchCase="6">Saturday</td>
                    <td *ngSwitchDefault>Invalid Day</td>
                </ng-container> -->

          @switch(student.dob?.getDay()){ @case(0){
          <td>Sunday</td>
          } @case(1){
          <td>Monday</td>
          } @case(2){
          <td>Tuesday</td>
          } @case(3){
          <td>Wednesday</td>
          } @case(4){
          <td>Thrusday</td>
          } @case(5){
          <td>Friday</td>
          } @case(6){
          <td>Saturday</td>
          } @case(7){
          <td>Sunday</td>
          } @default{
          <td>Invalid Day</td>
          } }

          <td>
            @if (student.totalmarks >= 450) {
            <strong class="text-success">Excelent</strong>
            } @else if(student.totalmarks <= 450 && student.totalmarks >= 400){
            <strong class="text-primary">Very Good</strong>
            } @else {
            <strong class="text-warning">Needs to improvement</strong>
            }
          </td>
        </tr>
        }
        @empty{
            <tr class="text-center">
                <td colspan="5">No recoreds found!!</td>
            </tr>
        }
      </tbody>
    </table>
  </div>
</section>
