<div class="main-container">
    <mat-card class="login-card">
      <h2> <p>Signup</p></h2>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. ravindra@gmail.com" required="" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Ex. @34$%&90#qwe" required="" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="Ex. @34$%&90#qwe" required="" />
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Signup</button>
      <div class="bottom-text">
          Already have an account <a [routerLink]="['../login']">Login </a>
      </div>
    </mat-card>
  </div>